<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6FMEQPKP2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-T6FMEQPKP2');
        </script>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="robots" content="noindex,nofollow" charset="utf-8">
        <!-- Open Graph Tag -->
        <meta property="og:title" content="maum.ai"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://maum.ai"/>
        <meta property="og:image" content="https://maum.ai/aiaas/common/images/maum.ai_web.png"/>
        <meta property="og:description" content="웹인공지능이 필요할땐 마음AI"/>
        <!-- icon_favicon -->
        <link rel="apple-touch-icon-precomposed" th:href="@{https://maum.ai/aiaas/kr/images/ico_maumAI_60x60.png}">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{https://maum.ai/aiaas/kr/images/ico_maumAI_60x60.ico}">

        <!-- -------------------- General Resources -------------------- -->
        <!-- General CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{css/maum_common.css}">

        <!-- General Script -->
        <script type="text/javascript" th:src="@{js/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery-migrate-3.3.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/all-5.13.0.js}" data-auto-replace-svg="nest"></script>
        <script type="text/javascript" th:src="@{js/maum_common.js}"></script>

        <title>마음 아카데미</title>
    </head>

    <body>
        <!-- .page loading -->
        <div id="pageldg">
    <span class="out_bg">
        <em>
            <strong>&nbsp;</strong>
            <strong>&nbsp;</strong>
            <strong>&nbsp;</strong>
            <b>&nbsp;</b>
        </em>
    </span>
        </div>
        <!-- //.page loading -->

        <form id="logout-form" action='/logout' method="POST" hidden>
<!--            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
        </form>

        <!-- #wrap -->
        <div id="wrap" class="maumUI transform">
            <!-- #header -->
            <div id="header">
                <!-- .maum_sta -->
                <div class="maum_sta">
                    <h1><a href="#none">maum.ai</a></h1>
                    <!-- .maum_gnb -->
                    <div class="maum_gnb">
                        <ul class="nav">
                            <!--<li><a href="/home/krEmployeesMain" class="go_employees" id="Button_Internal" hidden="">직원용</a></li>-->
                            <li><a href="https://maum.ai/?lang=ko#service_position"
                                   onclick="go(); return false;">서비스</a></li>
                            <li><a href="/">마음 아카데미</a></li>
                        </ul>
                    </div>
                    <!-- //.maum_gnb -->
                    <!-- .maum_etc -->
                    <div class="maum_etc">
                        <ul class="nav">
                            <li><a href="https://maum.ai/home/pricingPage?lang=ko"
                                   onclick="window.open('https://maum.ai/home/pricingPage?lang=ko')">가격정책</a></li>
                            <!-- 로그인X -->
                            <li><a href="#none" id="goToLogin" th:if="${session.user == null}">로그인</a></li>

                            <!--로그인O-->
                            <li><a class="btn_ico user" th:if="${session.user != null}" href="#none">사용자</a>
                                <div class="lstBox">
                                    <ul class="lst">
                                        <li class="userInfo">
                                            <span class="thumb"><img th:src="@{images/ico_user_g.svg}"
                                                                     alt="사용자"></span>
                                            <span class="txt">
                                         <em class="userName" th:text="${session.user?.name}">손미령</em>
                                         <em class="loginID" th:text="${session.user?.email}">blissmimi@mindslab.ai</em>
                                     </span>
                                        </li>
                                        <li><a href="/user/profileMain" target="_self" title="프로필">프로필</a></li>
                                        <li><a href="/user/apiAccountMain" target="_self" title="API 정보">API 정보</a></li>
                                        <li><a href="/user/paymentInfoMain" target="_self" title="결제정보">결제정보</a></li>
                                        <li><a href="#none" onclick="document.getElementById('logout-form').submit();"
                                               title="로그아웃">로그아웃</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li><a class="btn_ico lang" href="#none">언어</a>
                                <div class="lstBox">
                                    <ul class="lst">
                                        <li><a href="#none">한국어</a></li>
                                        <li><a href="#none">English</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="btn_ico app" href="#none">웹 앱 및 서비스</a>
                                <div class="appBox">
                                    <div class="tit">웹 앱 및 서비스</div>
                                    <ul class="lst">
                                        <li>
                                            <a href="https://maum.ai/main/krMainHome" target="_blank">
                                                <span class="ico"></span>
                                                <em>Cloud API</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://builder.maum.ai/landing?lang=ko" target="_blank">
                                                <span class="ico"></span>
                                                <em>AI Builder</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://minutes.maum.ai/" target="_blank">
                                                <span class="ico"></span>
                                                <em>maum 회의록</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://fast-aicc.maum.ai/login?lang=ko" target="_blank">
                                                <span class="ico"></span>
                                                <em>FAST 대화형 AI</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://ava.maum.ai/login" target="_blank">
                                                <span class="ico"></span>
                                                <em>AVA</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://maum.ai/home/maumEdge">
                                                <span class="ico"></span>
                                                <em>Edge AI Platform</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://data.maum.ai/?lang=ko" target="_blank">
                                                <span class="ico"></span>
                                                <em>maum DATA</em>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://maum.ai/home/krEcomindsMain" target="_blank">
                                                <span class="ico"></span>
                                                <em>eco MINDs</em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- //.maum_etc -->
                    <a class="btn_maum_ham" href="#none">모바일 전체메뉴
                        <span class="line_top"></span>
                        <span class="line_mid"></span>
                        <span class="line_btm"></span>
                    </a>
                </div>
                <!-- .svc_sta -->
                <div class="svc_sta">
                    <!-- svc_visual -->
                    <div class="svc_visual">
                        <dl>
                            <dt>maum Academy</dt>
                            <dd>AI 종합 교육 플랫폼</dd>
                        </dl>
                        <p class="bg_img"><img src="resources/images/img_visual01.jpg" alt="마음아카데미 이미지"></p>
                    </div>
                    <!-- //svc_visual -->
                    <!-- .lnb -->
                    <div class="lnb">
                        <h2>마음 아카데미</h2>
                        <!-- [D] 로컬메뉴
                                        <ul class="nav">
                                            <li><a class="active" href="#none">로컬메뉴 1</a></li>
                                            <li><a href="#none">로컬메뉴2</a></li>
                                            <li><a href="#none">로컬메뉴3</a></li>
                                        </ul>
                         -->
                        <ul class="nav_etc">
                            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc3h6o3wSnDpTXhF8q-IQ_1ZHhOACUj-nkiGbcACM7rewexnA/viewform" target="_blank">AI 컨설턴트 신청하기</a></li>
                            <li><a id="btn_contact" class="btn_rou_pstive btn_lyr_open" href="#lyr_contact_us">아카데미
                                문의하기</a></li>
                        </ul>
                    </div>
                    <!-- //.maum_sta -->
                </div>
                <!-- //#header -->
            </div>
            <hr>
            <!-- #container -->
            <div id="container">
                <!-- .snb -->
                <div class="snb ach">
                    <div class="navBox">
                        <span class="nav_tit">강의목록</span>
                        <ul class="nav">
                            <li><a class="active" href="#none" th:text="${selectedContent.name}"></a></li>
                            <li th:each="content, iStat : ${relatedContents}">
                                <a th:href="@{/content(id=${content.id},course=${content.course.id})}"
                                   th:text="${content.name}"></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- //.snb -->

                <!-- .contents -->
                <div class="contents">
                    <!-- .lect_tit(강의제목) -->
                    <div class="lect_tit">
                        <h3 th:inline="text"><strong>Contents 0[[${selectedIndex}]].</strong>[[${selectedContent.name}]]
                        </h3>
                        <ul class="lect_tab">
                            <li>
                                <a class="active pdf_tab" href="#none" th:if="${pdfUrls.size() > 0}">PDF로 보기</a>
                            </li>
                            <li>
                                <a class="active video_tab" href="#none" th:if="${videoUrls.size() > 0}">영상으로 보기</a>
                            </li>
                        </ul>
                    </div>
                    <!-- .lect_tit -->
                    <!-- .lect_objt(학습목표) -->
                    <dl class="lect_objt">
                        <dt>학습목표</dt>
                        <dd th:text="${selectedContent.description}"></dd>
                    </dl>
                    <!-- .lect_objt -->
                    <!-- .lect_cont(강의내용) -->
                    <div class="lect_cont">
                        <!-- PDF -->
                        <div th:id="${'pdfViewer' + iStat.count}" class="pdfBox"
                             th:each="pdf, iStat : ${pdfUrls}"></div>
                        <!-- //PDF -->

                        <!-- video-->
                        <div class="videoBox" th:each="videoUrl, iStat:${videoUrls}">
                            <iframe width="100%" height="600px" th:src="${videoUrl}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <!-- //video -->

                        <!-- attachBox-->
                        <div class="attachBox audioAttach" th:if="${audioAttachList.size() > 0}"
                             th:each="audioAttach : ${audioAttachList}">

                            <p>음성 첨부자료<span>(pdf 페이지에 있는 음성파일입니다. 페이지를 확인하여 음성파일을 재생해보세요.)</span></p>

                            <div class="attach" th:each="pageDetails : ${audioAttach.value}">
                                <h4><span th:inline="text">[[${pageDetails.key.pageNum}]]p </span>
                                    [[${pageDetails.key.pageTitle}]]
                                </h4>
                                <dl th:each="attachFiles :${pageDetails.value}">
                                    <dt th:text="${attachFiles.key}"></dt>
                                    <dd>
                                        <ol>
                                            <li th:each="attachedFile : ${attachFiles.value}" th:inline="text">
                                                [[${attachedFile.subheading}]]
                                                <audio preload="auto" controls>
                                                    <source th:src="@{/mediaAtt/{url}(url=${attachedFile.url})}"
                                                </audio>
                                            </li>
                                        </ol>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!--//attachBox-->

                        <!-- attachBox-->
                        <div class="attachBox videoAttach" th:if="${videoAttachList.size() > 0}"
                             th:each="videoAttach : ${videoAttachList}">

                            <p>비디오 첨부자료<span>(pdf 페이지에 있는 비디오파일입니다. 페이지를 확인하여 비디오파일을 재생해보세요.)</span></p>

                            <div class="attach" th:each="pageDetails : ${videoAttach.value}">
                                <h4><span th:inline="text">[[${pageDetails.key.pageNum}]]p </span>
                                    [[${pageDetails.key.pageTitle}]]
                                </h4>
                                <dl th:each="attachFiles :${pageDetails.value}">
                                    <dt th:text="${attachFiles.key}"></dt>
                                    <dd>
                                        <ol>
                                            <li th:each="attachedFile : ${attachFiles.value}" th:inline="text"
                                                th:classappend="${attachFiles.value.size() == 1} ? single : multi">
                                                [[${attachedFile.subheading}]]
                                                <video oncontextmenu="return false;" controls>
                                                    <source th:src="@{/mediaAtt/{url}(url=${attachedFile.url})}"
                                                            type="video/mp4">
                                                </video>
                                            </li>
                                        </ol>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!--//attachBox-->
                        <ul class="lect_btn">
                            <li><a th:href="${@environment.getProperty('maumAcademy.url')}">홈으로</a></li>
                        </ul>


                        <!-- //.lect_cont -->

                    </div>
                    <!-- //.contents -->
                </div>
                <!-- //#container -->
                <hr>
                <!-- #footer -->
                <div id="footer"></div>
                <!-- //#footer -->
            </div>
            <!-- //#wrap -->

            <!-- 문의하기 -->
            <div id="lyr_contact_us" class="lyrBox contactBox">
                <div class="contact_tit">
                    <h3>마음 아카데미 문의하기</h3>
                    <p class="info_txt">서비스에 관련된 문의를 남겨주시면 담당자가 확인 후, 답변 메일을 보내드리겠습니다.</p>
                </div>
                <div class="contact_cnt">
                    <ul class="contact_lst">
                        <li><a href="tel:1661-3222">1661-3222</a></li>
                        <li><span>maum_academy@mindslab.ai</span></li>
                    </ul>
                    <div class="contact_form">
                        <div class="contact_item">
                            <input type="text" id="user_name" class="ipt_txt" autocomplete="off">
                            <label for="user_name">
                                <span class="fas fa-user"></span>이름
                            </label>
                        </div>
                        <div class="contact_item">
                            <input type="text" id="user_email" class="ipt_txt" autocomplete="off">
                            <label for="user_email">
                                <span class="fas fa-envelope"></span>이메일
                            </label>
                        </div>
                        <div class="contact_item">
                            <input type="text" id="user_phone" class="ipt_txt" autocomplete="off">
                            <label for="user_phone">
                                <span class="fas fa-mobile-alt"></span>연락처
                            </label>
                        </div>
                        <div class="contact_item_block">
                            <textarea id="user_txt" class="textArea" rows="6"></textarea>
                            <label for="user_txt"><span class="fas fa-align-left"></span>문의내용</label>
                            <p class="msg">※ 문의내용에 욕설, 성희롱 등의 내용이 포함된 경우 문의가 제한될 수 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="contact_btn">
                    <button id="btn_sendMail" class="btn_inquiry">문의하기</button>
                    <button class="btn_lyr_close">닫기</button>
                </div>
            </div>
            <!-- //문의하기 -->

            <!-- -------------------- Local Resources -------------------- -->
            <!-- Local CSS -->
            <link rel="stylesheet" type="text/css" th:href="@{css/maumAcademy.css}">
            <!-- Local Script Library -->
            <script type="text/javascript" th:src="@{js/pdfobject.js}"></script>
            <script type="text/javascript" th:src="@{js/player.js}"></script>
            <script type="text/javascript" th:src="@{js/maumAcademy.js}"></script>

            <!-- page Landing -->
            <script type="text/javascript">
                $(window).load(function () {
                    //page loading delete
                    $('#pageldg').addClass('pageldg_hide').delay(300).queue(function () {
                        $(this).remove();
                    });
                })

                $('#goToLogin').click(function (e) {
                    e.preventDefault();// add this line
                    window.location.href = "https://sso.maum.ai/maum/loginMain?response_type=code&client_id=maumAcademy&redirect_uri=https://maumacademy.maum.ai/auth/callback";
                })
            </script>
            <!-- Local Script -->
            <script type="text/javascript" th:inline="javascript">
                jQuery.event.add(window, "load", function () {
                    $(document).ready(function () {
                        //header 변형
                        $('#wrap').addClass('transform');
                        $('#wrap').addClass('trans');
                        $('#container').addClass('view');

                        $('.lect_cont .pdfBox').show();
                        $('.lect_cont .videoBox').hide();

                        var pdfUrls = [[${pdfUrls}]]
                        var videosUrls = [[${videoUrls}]]


                        if (pdfUrls.length > 0) {
                            if (videosUrls.length > 0) {
                                $('.lect_tit .lect_tab li .video_tab').removeClass('active')
                            }
                            for (let i = 0; i < pdfUrls.length; i++) {
                                PDFObject.embed("pdf/" + pdfUrls[i], "#pdfViewer" + (i + 1));
                            }
                        } else {
                            if (videosUrls.length > 0) {
                                $('.lect_cont .videoBox').show();
                                $('.lect_cont .pdfBox').hide();
                            }
                        }


                        // Audio Player
                        $('audio').audioPlayer();
                        $('.btn_player_play').on('click', function () {
                            $(this).toggleClass('pause');
                        });

                        // Lecture Tab Buttons
                        $('.lect_tit .lect_tab li').on('click', function () {
                            $(this).parent().find('a').removeClass('active')
                            if ($(this).index() == 0) {
                                $('.lect_cont .pdfBox').show();
                                $('.lect_cont .videoBox').hide();
                                $(this).find('a').addClass('active')
                            } else {
                                $('.lect_cont .pdfBox').hide();
                                $('.lect_cont .videoBox').show();
                                $(this).find('a').addClass('active')
                            }
                        })

                    });
                })
                ;
            </script>
        </div>
        </div>
    </body>
</html>
