<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6FMEQPKP2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-T6FMEQPKP2');
        </script>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="robots" content="noindex,nofollow" charset="utf-8">
        <!-- Open Graph Tag -->
        <meta property="og:title" content="maum.ai"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://maum.ai"/>
        <meta property="og:image" content="https://maum.ai/aiaas/common/images/maum.ai_web.png"/>
        <meta property="og:description" content="웹인공지능이 필요할땐 마음AI"/>
        <!-- icon_favicon -->
        <link rel="apple-touch-icon-precomposed" href="https://maum.ai/aiaas/kr/images/ico_maumAI_60x60.png">
        <link rel="shortcut icon" type="image/x-icon" href="https://maum.ai/aiaas/kr/images/ico_maumAI_60x60.ico">

        <!-- -------------------- General Resources -------------------- -->
        <!-- General CSS -->
        <link rel="stylesheet" type="text/css"
              th:href="@{https://maum.ai/aiaas/kr/css/login_renew.css}">
        <link rel="stylesheet" type="text/css" th:href="@{css/maum_common.css}">
        <!-- General Script -->
        <script type="text/javascript" th:src="@{js/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery-migrate-3.3.1.min.js}"></script>
        <script type="text/javascript" th:src="@{js/all-5.13.0.js}" data-auto-replace-svg="nest"></script>
        <script type="text/javascript" th:src="@{js/maum_common.js}"></script>

        <title>마음 아카데미</title>
    </head>

    <!-- .page loading -->
    <div id="pageldg">
        <span class="out_bg">
            <em>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <strong>&nbsp;</strong>
                <b>&nbsp;</b>
            </em>
        </span>
    </div>
    <!-- //.page loading -->

    <form id="logout-form" action='/logout' method="POST" hidden>
        <!--        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    </form>

    <!-- 알림_로그인 -->
    <div id="alt_loginMessage" class="altBox">
        <div class="msgBox">
            <dl>
                <dt>로그인이 필요한 서비스 입니다.</dt>
                <dd>로그인 하시겠습니까?</dd>
            </dl>
        </div>
        <div class="btnBox sz_small">
            <button class="btn_cancel">취소</button>
            <a href="#"
               class="btn_clr login">확인</a>
            <!-- [D] 확인 클릭 시, 통합로그인으로 이동, 인증 완료 되면 콘텐츠 페이지로 이동 -->
        </div>
    </div>
    <!-- 알림_서비스이용불가 -->
    <div id="alt_serviceMessage" class="altBox">
        <div class="msgBox">
            <dl>
                <dt>준비중인 서비스입니다.</dt>
            </dl>
        </div>
        <div class="btnBox sz_small">
            <a href="#"
               class="btn_clr service">확인</a>
        </div>
    </div>
    <!-- #wrap -->
    <div id="wrap" class="maumUI">
        <!-- #header -->
        <div id="header">
            <!-- .maum_sta -->
            <div class="maum_sta">
                <h1><a href="https://maum.ai">maum.ai</a></h1>
                <!-- .maum_gnb -->
                <div class="maum_gnb">
                    <ul class="nav">
                        <!--<li><a href="/home/krEmployeesMain" class="go_employees" id="Button_Internal" hidden="">직원용</a></li>-->
                        <li><a href="https://maum.ai/?lang=ko#service_position"
                               onclick="go(); return false;">서비스</a></li>
                        <li><a href="/">마음 아카데미</a></li>
                    </ul>
                </div>
                <!-- //.maum_gnb -->
                <!-- .maum_etc -->
                <div class="maum_etc">
                    <ul class="nav">
                        <li><a href="http://bit.ly/mindslab_recruit" target="_blank">채용공고</a></li>
                        <li><a href="https://maum.ai/home/pricingPage?lang=ko"
                               onclick="window.open('https://maum.ai/home/pricingPage?lang=ko')">가격정책</a></li>
                        <!-- 로그인X -->
                        <li><a href="#none" id="goToLogin" th:if="${session.user == null}">로그인</a></li>

                        <!--로그인O-->
                        <li><a class="btn_ico user" th:if="${session.user != null}" href="#none">사용자</a>
                            <div class="lstBox">
                                <ul class="lst">
                                    <li class="userInfo">
                                            <span class="thumb"><img th:src="@{images/ico_user_g.svg}"
                                                                     alt="사용자"></span>
                                        <span class="txt">
                                         <em class="userName" th:text="${session.user?.name}">손미령</em>
                                         <em class="loginID" th:text="${session.user?.email}">blissmimi@mindslab.ai</em>
                                     </span>
                                    </li>
                                    <li><a href="https://maum.ai/user/profileMain" target="_self" title="프로필">프로필</a>
                                    </li>
                                    <li><a href="https://maum.ai/user/apiAccountMain" target="_self" title="API 정보">API
                                        정보</a></li>
                                    <li><a href="https://maum.ai/user/paymentInfoMain" target="_self"
                                           title="결제정보">결제정보</a></li>
                                    <li><a href="#none" onclick="document.getElementById('logout-form').submit();"
                                           title="로그아웃">로그아웃</a></li>
                                </ul>
                            </div>
                        </li>

                        <li><a class="btn_ico lang" href="#none">언어</a>
                            <div class="lstBox">
                                <ul class="lst">
                                    <li><a href="#none">한국어</a></li>
                                    <li><a href="#none" id="englishServiceBtn">English</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="btn_ico app" href="#none">웹 앱 및 서비스</a>
                            <div class="appBox">
                                <div class="tit">웹 앱 및 서비스</div>
                                <ul class="lst">
                                    <li>
                                        <a href="https://maum.ai/main/krMainHome" target="_blank">
                                            <span class="ico"></span>
                                            <em>Cloud API</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://builder.maum.ai/landing?lang=ko" target="_blank">
                                            <span class="ico"></span>
                                            <em>AI Builder</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://minutes.maum.ai/" target="_blank">
                                            <span class="ico"></span>
                                            <em>maum 회의록</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://fast-aicc.maum.ai/login?lang=ko" target="_blank">
                                            <span class="ico"></span>
                                            <em>FAST 대화형 AI</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ava.maum.ai/login" target="_blank">
                                            <span class="ico"></span>
                                            <em>AVA</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://maum.ai/home/maumEdge">
                                            <span class="ico"></span>
                                            <em>Edge AI Platform</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://data.maum.ai/?lang=ko" target="_blank">
                                            <span class="ico"></span>
                                            <em>maum DATA</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://maum.ai/home/krEcomindsMain" target="_blank">
                                            <span class="ico"></span>
                                            <em>eco MINDs</em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //.maum_etc -->
                <a class="btn_maum_ham" href="#none">모바일 전체메뉴
                    <span class="line_top"></span>
                    <span class="line_mid"></span>
                    <span class="line_btm"></span>
                </a>
            </div>
            <!-- //.maum_sta -->
            <!-- .svc_sta -->
            <div class="svc_sta">
                <!-- svc_visual -->
                <div class="svc_visual">
                    <dl>
                        <dt>maum Academy</dt>
                        <dd>AI 종합 교육 플랫폼</dd>
                    </dl>
                    <p class="bg_img"><img th:src="@{images/img_visual01.jpg}" alt="마음아카데미 이미지"></p>
                </div>
                <!-- //svc_visual -->
                <!-- .lnb -->
                <div class="lnb">
                    <h2><a href="https://maumacademy.maum.ai/">마음 아카데미</a></h2>
                    <!--                    <ul class="nav">-->
                    <!--                        <li><a id="btn_contact" class="btn_rou_pstive btn_lyr_open" href="#lyr_contact_us">마음 아카데미-->
                    <!--                            문의하기</a></li>-->
                    <!--                    </ul>-->
                    <ul class="nav_etc">
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc3h6o3wSnDpTXhF8q-IQ_1ZHhOACUj-nkiGbcACM7rewexnA/viewform" target="_blank">AI 컨설턴트 신청하기</a></li>
                        <li><a id="btn_contact" class="btn_rou_pstive btn_lyr_open" href="#lyr_contact_us">아카데미
                            문의하기</a></li>
                    </ul>
                </div>
                <!-- //.lnb -->
            </div>
        </div>
        <!-- //#header -->
        <hr>
        <!-- #container -->
        <div id="container">
            <!-- .content -->
            <div class="content">
                <!-- svc_disb -->
                <div class="svc_disb">
                    <dl>
                        <dt>maum Academy란?</dt>
                        <dd>마음 아카데미는 <span class="ft_point01">AI 컨설턴트부터 AI 혁신을 도모하는 기업</span> 등 AI 교육이 필요한 모든
                            대상에게
                            <span class="ft_point01">AI 교육을 제공하고 AI 전문가를 양성</span>하는 AI 종합 교육 플랫폼입니다.<br>
                            마음 아카데미는 크게 <span class="ft_point01">인공지능 개론, 인공지능 알고리즘 및 엔진, 그리고 인공지능 애플리케이션</span>에
                            걸친
                            종합적인 교육 과정을 자랑합니다.
                        </dd>
                    </dl>
                </div>
                <!-- //svc_disb -->
                <!-- bg_grayBox -->
                <div class="bg_grayBox">
                    <dl>
                        <dt>마음아카데미 교육과정</dt>
                        <dd>
                            <ol class="lst_olBox">
                                <li>
                                    <a class="active mod_1" href="#">
                                        <span class="num">01</span>
                                        <span class="ico"><img th:src="@{images/ico_curri0101.svg}"
                                                               alt="Background&Framework"></span>
                                        <span class="tit">maum.ai<br>Background &amp; Framework</span>
                                        <span class="txt">인공지능과 maum.ai 비즈니스 및 플랫폼까지 한번에!</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="mod_2" href="#">
                                        <span class="num">02</span>
                                        <span class="ico"><img th:src="@{images/ico_curri0102.svg}"
                                                               alt="Cloud AI"></span>
                                        <span class="tit">maum.ai<br>Cloud AI</span>
                                        <span class="txt">데이터 정제, 모델 학습, 엔진 API 등 원리부터 이해하는 Cloud AI의 모든 것!</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="mod_3" href="#">
                                        <span class="num">03</span>
                                        <span class="ico"><img th:src="@{images/ico_curri0103.svg}"
                                                               alt="Application"></span>
                                        <span class="tit">maum.ai<br>Application</span>
                                        <span class="txt">다양한 maum.ai 엔진들을 모아 만든 애플리케이션을 만나볼 수 있는 강의!</span>
                                    </a>
                                </li>
                            </ol>
                        </dd>
                    </dl>
                    <div class="courseBox">
                        <h4>강의목록</h4>
                        <ul class="lst mod_1 active">
                            <li th:class="${iStat.count == 1} ? 'active' : ''"
                                th:each="course, iStat : ${courses1}">
                                <a href="#none">
                                        <span class="num" th:if="${iStat.index < 9}"
                                              th:text="${'Course 0' + iStat.count + '.'}"></span>
                                    <span class="num" th:if="${iStat.index >= 9}"
                                          th:text="${'Course ' + iStat.count + '.'}"></span>
                                    <span class="tit" th:text="${course.name}"></span>
                                </a>
                                <ul class="lst_hide" th:each="content, iStat : ${course.contents}">
                                    <li th:class="${session.user == null} ? 'unauth' : ''">
                                        <!--                                            <li>-->
                                        <a th:href="@{/content(id=${content.id},course=${content.course.id})}"
                                           th:inline="text">
                                            <strong th:if="${iStat.index < 9}">contents
                                                0[[${iStat.count}]].</strong>
                                            <strong th:if="${iStat.index >= 9}">contents
                                                [[${iStat.count}]].</strong>
                                            [[${content.name}]]
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="lst mod_2 ">
                            <li th:class="${iStat.count == 1} ? 'active' : ''"
                                th:each="course, iStat : ${courses2}">
                                <a href="#none">
                                        <span class="num" th:if="${iStat.index < 9}"
                                              th:text="${'Course 0' + iStat.count + '.'}"></span>
                                    <span class="num" th:if="${iStat.index >= 9}"
                                          th:text="${'Course ' + iStat.count + '.'}"></span>
                                    <span class="tit" th:text="${course.name}"></span>
                                </a>
                                <ul class="lst_hide" th:each="content, iStat : ${course.contents}">
                                    <li th:class="${session.user == null} ? 'unauth' : ''">
                                        <!--                                            <li>-->
                                        <a th:href="@{/content(id=${content.id},course=${content.course.id})}"
                                           th:inline="text">
                                            <strong th:if="${iStat.index < 9}">contents
                                                0[[${iStat.count}]].</strong>
                                            <strong th:if="${iStat.index >= 9}">contents
                                                [[${iStat.count}]].</strong>
                                            [[${content.name}]]
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="lst mod_3 ">
                            <li th:class="${iStat.count == 1} ? 'active' : ''"
                                th:each="course, iStat : ${courses3}">
                                <a href="#none">
                                        <span class="num" th:if="${iStat.index < 9}"
                                              th:text="${'Course 0' + iStat.count + '.'}"></span>
                                    <span class="num" th:if="${iStat.index >= 9}"
                                          th:text="${'Course ' + iStat.count + '.'}"></span>
                                    <span class="tit" th:text="${course.name}"></span>
                                </a>
                                <ul class="lst_hide" th:each="content, iStat : ${course.contents}">
                                    <li th:class="${session.user == null} ? 'unauth' : ''">
                                        <!--                                            <li>-->
                                        <a th:href="@{/content(id=${content.id},course=${content.course.id})}"
                                           th:inline="text">
                                            <strong th:if="${iStat.index < 9}">contents
                                                0[[${iStat.count}]].</strong>
                                            <strong th:if="${iStat.index >= 9}">contents
                                                [[${iStat.count}]].</strong>
                                            [[${content.name}]]
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //bg_grayBox -->
                <!-- svc_disb -->
                <!-- svc_disb -->
                <div class="svc_disb">
                    <dl>
                        <dt>마음 AI 컨설턴트란?</dt>
                        <dd>maum.ai를 통해 더 많은 사람들이 가치 혁신과 비즈니스 혁신을 이룩할 수 있도록<br><span class="ft_point01">인공지능 전문 지식과 비즈니스 인사이트</span>를
                            발휘하는 융합형 인공지능 전문가입니다.
                        </dd>
                    </dl>
                </div>
                <!-- //lot_half -->
                <!-- bg_grayBox -->
                <div class="bg_grayBox">
                    <!-- lot_half -->
                    <div class="lot_half">
                        <dl class="landscapeBox">
                            <dt>마음 AI 컨설턴트에게 필요한 역량</dt>
                            <dd>
                                <ul class="lst">
                                    <li><img th:src="@{images/ico_aiCstt_s01.svg}" alt="썸네일 이미지">인공지능, 머신러닝, 딥러닝에 대한 기초
                                        지식
                                    </li>
                                    <li><img th:src="@{images/ico_aiCstt_s02.svg}" alt="썸네일 이미지">새로운 기술에 대한 지적 호기심과 빠른
                                        습득력
                                    </li>
                                    <li><img th:src="@{images/ico_aiCstt_s03.svg}" alt="썸네일 이미지">논리적인 사고를 바탕으로 한 커뮤니케이션
                                        능력
                                    </li>
                                    <li><img th:src="@{/images/ico_aiCstt_s04.svg}" alt="썸네일 이미지">고객의 비즈니스 혁신을 고민하는 문제
                                        해결 능력
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="landscapeBox">
                            <dt>마음 AI 컨설턴트만의 혜택</dt>
                            <dd>
                                <ul class="lst">
                                    <li><img th:src="@{images/ico_aiCstt_b01.svg}" alt="썸네일 이미지">MINDsLab 공식 Certificate
                                        발급
                                    </li>
                                    <li><img th:src="@{images/ico_aiCstt_b02.svg}" alt="썸네일 이미지">maum.ai 서비스 (Cloud API,
                                        maum 회의록 등) 무료 이용
                                    </li>
                                    <li><img th:src="@{images/ico_aiCstt_b03.svg}" alt="썸네일 이미지">온/오프라인 교육 지원</li>
                                    <li><img th:src="@{images/ico_aiCstt_b04.svg}" alt="썸네일 이미지">MINDsLab 및 ecoMINDs 행사
                                        우선 참여
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <!-- //lot_half -->
                </div>
                <!-- //bg_grayBox -->
                <!-- svc_disb -->
                <div class="svc_disb">
                    <dl>
                        <dt>AI 컨설턴트가 되고 싶다면?</dt>
                        <dd>마음 아카데미는 예비 AI 컨설턴트들이 체계적인 훈련을 받을 수 있는 <span class="ft_point01">AI 컨설턴트 커리큘럼</span>을 제공하고
                            있습니다.<br>지금 바로 마음 아카데미에서 AI 컨설턴트에 도전하세요!
                        </dd>
                    </dl>
                    <ol class="lst">
                        <li>
                            <span class="ico"><img th:src="@{images/ico_train01.svg}" alt="Join us"></span>
                            <span class="tit">01. Join us</span>
                            <span class="txt">마음 AI 컨설턴트에 대해 <br>자세히 알아본 후 지원하기!</span>
                        </li>
                        <li>
                            <span class="ico"><img th:src="@{images/ico_train02.svg}" alt="Study & Learn"></span>
                            <span class="tit">02. Study &amp; Learn</span>
                            <span class="txt">마음 아카데미에서 컨설턴트 교육을 <br>수강하고, 실력을 키우기!</span>
                        </li>
                        <li>
                            <span class="ico"><img th:src="@{images/ico_train03.svg}" alt="Take a Test"></span>
                            <span class="tit">03. Take a Test</span>
                            <span class="txt">학습한 내용을 바탕으로 <br>컨설턴트 자격 시험에 응시하기!</span>
                        </li>
                        <li>
                            <span class="ico"><img th:src="@{images/ico_train04.svg}" alt="Get Started"></span>
                            <span class="tit">04. Get Started</span>
                            <span class="txt">자격증을 받고, 공식 마음 AI <br>컨설턴트로서 AI 컨설팅 시작!</span>
                        </li>
                    </ol>
                    <div class="btnBox">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3h6o3wSnDpTXhF8q-IQ_1ZHhOACUj-nkiGbcACM7rewexnA/viewform"
                           target="_blank">AI 컨설턴트 신청하기</a>
                    </div>
                </div>
                <!-- //svc_disb -->
                <!-- //svc_disb -->
            </div>
            <!-- //.content -->
        </div>
        <!-- //#container -->
        <hr>
        <!-- #footer -->
        <div id="footer">
            <!-- [D] maum.ai footer -->
            <div class="stn_inquiry main_footer" id="inquiry">
                <!-- .cont_box -->
                <div class="cont_box">
                    <div class="info_box">
                        <h4>Contact Us</h4>
                        <ul>
                            <li><em class="" data-fa-i2svg="">
                                <svg class="svg-inline--fa fa-headset fa-w-16" aria-hidden="true"
                                     focusable="false"
                                     data-prefix="fas" data-icon="headset" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z"></path>
                                </svg>
                            </em> 고객센터<a href="tel:+8216613222" class="info number">1661 - 3222</a></li>
                            <li><em class="" data-fa-i2svg="">
                                <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true"
                                     focusable="false"
                                     data-prefix="far" data-icon="envelope" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path>
                                </svg>
                            </em> 이메일 <a href="mailto:hello@mindslab.ai" class="info mail">hello@mindslab.ai</a>
                            </li>
                        </ul>

                        <div class="social_box">
                            <a href="https://www.youtube.com/channel/UC8ocQaJFp-adzGtwcBuS3iQ?view_as=subscriber"
                               target="_blank" title="유튜브"><em class="" data-fa-i2svg="">
                                <svg class="svg-inline--fa fa-youtube fa-w-18" aria-hidden="true"
                                     focusable="false"
                                     data-prefix="fab" data-icon="youtube" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
                                </svg>
                            </em></a>
                            <a href="https://www.facebook.com/pg/mindsinsight" target="_blank" title="페이스북"><em
                                    class="" data-fa-i2svg="">
                                <svg class="svg-inline--fa fa-facebook-f fa-w-10" aria-hidden="true"
                                     focusable="false" data-prefix="fab" data-icon="facebook-f" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                                </svg>
                            </em></a>
                            <a href="https://post.naver.com/my.nhn?memberNo=45704243" target="_blank"
                               title="네이버 블로그"><em class="" data-fa-i2svg="">
                                <svg class="svg-inline--fa fa-blog fa-w-16" aria-hidden="true" focusable="false"
                                     data-prefix="fas" data-icon="blog" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M172.2 226.8c-14.6-2.9-28.2 8.9-28.2 23.8V301c0 10.2 7.1 18.4 16.7 22 18.2 6.8 31.3 24.4 31.3 45 0 26.5-21.5 48-48 48s-48-21.5-48-48V120c0-13.3-10.7-24-24-24H24c-13.3 0-24 10.7-24 24v248c0 89.5 82.1 160.2 175 140.7 54.4-11.4 98.3-55.4 109.7-109.7 17.4-82.9-37-157.2-112.5-172.2zM209 0c-9.2-.5-17 6.8-17 16v31.6c0 8.5 6.6 15.5 15 15.9 129.4 7 233.4 112 240.9 241.5.5 8.4 7.5 15 15.9 15h32.1c9.2 0 16.5-7.8 16-17C503.4 139.8 372.2 8.6 209 0zm.3 96c-9.3-.7-17.3 6.7-17.3 16.1v32.1c0 8.4 6.5 15.3 14.8 15.9 76.8 6.3 138 68.2 144.9 145.2.8 8.3 7.6 14.7 15.9 14.7h32.2c9.3 0 16.8-8 16.1-17.3-8.4-110.1-96.5-198.2-206.6-206.7z"></path>
                                </svg>
                            </em></a>
                        </div>
                        <div class="info_desc">
                            <em>© Copyright 2020 주식회사 마인즈랩</em>
                            경기도 성남시 분당구 대왕판교로644번길 49 다산타워 5-6층 ㅣ 대표 유태준 ㅣ 사업자 등록번호 314-86-55446
                        </div>
                        <p>
                            <a href="https://mindslab.ai:8080/kr/company" class="co_link "
                               target="_blank">회사소개</a>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <a href="https://maum.ai/home/krTermsMain" class="co_link " target="_blank">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <a href="https://maum.ai/home/krTermsMain#conditions" class="co_link " target="_blank">개인정보처리방침</a>
                        </p>

                    </div>

                    <div class="inquiry_box">
                        <div class="my_info">
                            <input type="text" id="name">
                            <label for="name">이름</label>
                        </div>
                        <div class="my_info">
                            <input type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" id="phone">
                            <label for="phone">연락처</label>
                        </div>
                        <div class="my_info email_info">
                            <input type="email" id="mail">
                            <label for="mail">이메일</label>
                        </div>
                        <div class="my_info ">
                            <input type="text" id="company">
                            <label for="company">회사명/직급</label>
                        </div>
                        <div class="my_txt">
                            <textarea id="txt"></textarea>
                            <label for="txt">문의내용</label>
                        </div>
                        <button class="btn_send" id="sendMailToHello_landing">문의하기</button>
                    </div>
                </div>
                <!-- //.cont_box -->
            </div>
            <!-- // [D] maum.ai footer -->
        </div>
        <!-- //#footer -->
    </div>
    <!-- //#wrap -->

    <!-- 문의하기 -->
    <div id="lyr_contact_us" class="lyrBox contactBox">
        <div class="contact_tit">
            <h3>마음 아카데미 문의하기</h3>
            <p class="info_txt">서비스에 관련된 문의를 남겨주시면 담당자가 확인 후, 답변 메일을 보내드리겠습니다.</p>
        </div>
        <div class="contact_cnt">
            <ul class="contact_lst">
                <li><a href="tel:1661-3222">1661-3222</a></li>
                <li><span>maum_academy@mindslab.ai</span></li>
            </ul>
            <div class="contact_form">
                <div class="contact_item">
                    <input type="text" id="user_name" class="ipt_txt" autocomplete="off">
                    <label for="user_name">
                        <span class="fas fa-user"></span>이름
                    </label>
                </div>
                <div class="contact_item">
                    <input type="text" id="user_email" class="ipt_txt" autocomplete="off">
                    <label for="user_email">
                        <span class="fas fa-envelope"></span>이메일
                    </label>
                </div>
                <div class="contact_item">
                    <input type="text" id="user_phone" class="ipt_txt" autocomplete="off">
                    <label for="user_phone">
                        <span class="fas fa-mobile-alt"></span>연락처
                    </label>
                </div>
                <div class="contact_item_block">
                    <textarea id="user_txt" class="textArea" rows="6"></textarea>
                    <label for="user_txt"><span class="fas fa-align-left"></span>문의내용</label>
                    <p class="msg">※ 문의내용에 욕설, 성희롱 등의 내용이 포함된 경우 문의가 제한될 수 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="contact_btn">
            <button id="btn_sendMail" class="btn_inquiry">문의하기</button>
            <button class="btn_lyr_close">닫기</button>
        </div>
    </div>
    <!-- //문의하기 -->

    <!-- 마음컨설턴트 자세히보기 -->
    <div id="lyr_aiAonsultant_more" class="lyrBox contactBox">
        <div class="contact_tit">
            <h3>마음 AI 컨설턴트란?</h3>
            <p class="info_txt">maum.ai를 통해 더 많은 사람들이 가치 혁신과 비즈니스 혁신을 이룩할 수 있도록 <br>인공지능 전문 지식과 비즈니스 인사이트를 발휘하는
                융합형
                인공지능 전문가입니다.</p>
        </div>
        <div class="contact_cnt">
            <dl class="landscapeBox">
                <dt>마음 AI 컨설턴트에게 필요한 역량</dt>
                <dd>
                    <ul class="lst">
                        <li><img th:src="@{images/ico_aiCstt_s01.svg}" alt="썸네일 이미지">인공지능, 머신러닝, 딥러닝에 대한 기초 지식
                        </li>
                        <li><img th:src="@{images/ico_aiCstt_s02.svg}" alt="썸네일 이미지">새로운 기술에 대한 지적 호기심과 빠른 습득력
                        </li>
                        <li><img th:src="@{images/ico_aiCstt_s03.svg}" alt="썸네일 이미지">논리적인 사고를 바탕으로 한 커뮤니케이션 능력
                        </li>
                        <li><img th:src="@{images/ico_aiCstt_s04.svg}" alt="썸네일 이미지">고객의 비즈니스 혁신을 고민하는 문제 해결 능력
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="portraitBox">
                <dt>마음 AI 컨설턴트만의 혜택</dt>
                <dd>
                    <ul class="lst">
                        <li><img th:src="@{images/ico_aiCstt_b01.svg}" alt="썸네일 이미지"><span>MINDsLab 공식<br>Certificate 발급</span>
                        </li>
                        <li><img th:src="@{images/ico_aiCstt_b02.svg}" alt="썸네일 이미지"><span>maum.ai 서비스 (Cloud API, maum 회의록 등) 무료 이용</span>
                        </li>
                        <li><img th:src="@{images/ico_aiCstt_b03.svg}"
                                 alt="썸네일 이미지"><span>온/오프라인 <br>교육 지원</span></li>
                        <li><img th:src="@{images/ico_aiCstt_b04.svg}"
                                 alt="썸네일 이미지"><span>MINDsLab 및 ecoMINDs <br>행사 우선 참여</span></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="contact_btn">
            <a id="btn_go_support" class="btn_inquiry"
               href="https://docs.google.com/forms/d/e/1FAIpQLSc3h6o3wSnDpTXhF8q-IQ_1ZHhOACUj-nkiGbcACM7rewexnA/viewform"
               target="_blank">AI 컨설턴트 신청하기</a>
            <button class="btn_lyr_close">닫기</button>
        </div>
    </div>
    </div>
    <!-- //마음컨설턴트 자세히보기 -->

    <!-- -------------------- Local Resources -------------------- -->
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{css/maumAcademy.css}">
    <!-- Local Script Library -->
    <script type="text/javascript" th:src="@{js/maumAcademy.js}"></script>
    <script type="text/javascript" th:src="@{js/viewScrollTrans.js}"></script>
    <!-- page Landing -->
    <script type="text/javascript">
        $(window).load(function () {
            //page loading delete
            $('#pageldg').addClass('pageldg_hide').delay(300).queue(function () {
                $(this).remove();
            });
        });
    </script>
    <!-- Local Script -->
    <script type="text/javascript" th:inline="javascript">
        jQuery.event.add(window, "load", function () {
            $(document).ready(function () {
                //curriculum
                $('.bg_grayBox dl dd .lst_olBox a').on('click', function () {
                    $('.bg_grayBox dl dd .lst_olBox a').removeClass('active');
                    $(this).addClass('active');

                    $('.courseBox .lst').removeClass('active');
                    $('.courseBox .lst').eq($(this).parent().index()).addClass('active')


                    var courseHeight = $('.courseBox').offset().top;

                    $('html').animate({
                        scrollTop: courseHeight - 40,
                    }, 500);
                });

                //course
                $('.courseBox .lst >li> a').on('click', function () {
                    $(this).parent().siblings().removeClass('active')
                    // $('.courseBox .lst >li').removeClass('active');
                    $(this).parent().addClass('active');

                    var ojtOffset = $(this).offset().top,
                        winHeight = $(window).height() / 2;

                    $('html').animate({
                        scrollTop: ojtOffset - winHeight,
                    }, 500);
                });

                $('.courseBox ul li ul li.unauth a').on('click', function (e) {
                    $('#alt_loginMessage').css('display', 'block');


                    $('#alt_loginMessage .btnBox.sz_small .btn_cancel').on('click', function () {
                        $('#alt_loginMessage').css('display', 'none');
                    })

                    e.preventDefault()
                })

                $('#englishServiceBtn').on('click', function (e) {
                    $('#alt_serviceMessage').css('display', 'block');


                    $('#alt_serviceMessage .btnBox.sz_small').on('click', function () {
                        $('#alt_serviceMessage').css('display', 'none');
                    })
                    e.preventDefault()
                })

            });

            $('#goToLogin').click(function (e) {
                e.preventDefault();// add this line
                window.location.href = [[${@environment.getProperty('url.hq')}]] + "/maum/loginMain?response_type=code&client_id="
                    + [[${@environment.getProperty('sso.client-id')}]] + "&redirect_uri="
                    + [[${@environment.getProperty('sso.callback')}]]
            })
            $('.login').click(function (e) {
                e.preventDefault();// add this line
                window.location.href = [[${@environment.getProperty('url.hq')}]] + "/maum/loginMain?response_type=code&client_id="
                    + [[${@environment.getProperty('sso.client-id')}]] + "&redirect_uri="
                    + [[${@environment.getProperty('sso.callback')}]]
            })


            function validateEmail(sEmail) {
                var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (filter.test(sEmail)) {
                    return true;
                } else {
                    return false;
                }
            }

            $('#sendMailToHello_landing').on('click', function () {

                if (validateEmail($('#mail').val()) == false) {
                    alert("이메일 형식을 확인해 주세요!");
                } else if ($('#name').val() === '' || $('#phone').val() === '' || $('#mail').val() === '' || $('#txt').val() === '' || $('#company').val() === '') {

                    alert("내용을 모두 입력해야 이메일을 전달할 수 있어요!");

                } else {
                    var noti = "maum.ai 아카데미(KR)";

                    var param = location.search;
                    var host = window.location.hostname;
                    var pathname = window.location.pathname;




                    let title = "[maumacademy.maum.ai] " + $("#name").val() + "님의 문의 사항입니다.";
                    let msg = "이름 : " + $("#name").val() + "<br>이메일 : " + $('#mail').val() + "<br>연락처 : " + $("#phone").val() + "<br>회사명 : " + $("#company").val() + "<br>문의 내용 : " + $("#txt").val()
                        + "<br><br><br>* " + noti + " 에서 보낸 메일입니다.";

                    let formData = new FormData();

                    formData.append('fromaddr', $('#mail').val());
                    formData.append('toaddr', 'hello@mindslab.ai');
                    formData.append('subject', title);
                    formData.append('message', msg);

                    $.ajax({
                        type: 'POST',
                        async: true,
                        url: '/support/sendContactMail',
                        // crossDomain: true,
                        dataType: 'text',
                        data: formData,
                        processData: false,
                        contentType: false,
                        crossDomain: true,
                        crossOrigin: true,
                        success: function (obj) {
                            $("#name").val('');
                            $("#office").val('');
                            $("#phone").val('');
                            $("#company").val('');
                            $("#txt").val('');
                            $("#mail").val('');
                            var placeholderLabel = $('.inquiry_box input, .inquiry_box textarea');
                            placeholderLabel.siblings('label').show();

                            $('#mail_success').fadeIn();

                            //완료메세지
                            $('body').append(' \
                              <div class="lyrWrap moment"> \
                                 <div class="lyr_bg"></div> \
                                 <div class="lyrBox" >\
                                    <div class="lyr_mid"> \
                                        <div class="ani_icoBox"> \
                                            <img src="images/ani_email_send.gif" alt="접수완료"> \
                                        </div> \
                                        <p class="massage">문의가 접수되었습니다.<br>담당자 확인 후 연락드리겠습니다.</p> \
                                    </div> \
                                </div> \
                            </div> \
			                ');

                            $('.moment, .moment .lyrBox').show();
                            setTimeout(function () {
                                $('.moment').addClass('lyr_hide').delay(300).queue(function () {
                                    $(this).remove();
                                });
                            }, 2000);
                            $('body').css('overflow', '');
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                            alert("Contact Us 메일발송 요청 실패하였습니다.");
                            // window.location.href = "/";
                        }
                    });
                }
            });

            $('.btn_close').on('click', function () {
                $('#mail_success').fadeOut();
            });
            // 인풋 라벨
            var placeholderLabel = $('.inquiry_box input, .inquiry_box textarea');

            placeholderLabel.on('focus', function () {
                $(this).siblings('label').hide();
            });

            placeholderLabel.on('focusout', function () {
                if ($(this).val() === '') {
                    $(this).siblings('label').show();
                }
            });


        })
        ;


    </script>

    </body>
</html>
